@model WebAdminShoes.Areas.Admin.Models.PasswordChangeModel

@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
    ViewBag.PCusername = Html.ValueFor(model => model.username);
}

@using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

        <div class="col-md-12">
            <div class="col-md-2">
                <h3>@Html.LabelFor(model => model.username, htmlAttributes: new { @class = "label btn_6 label-warning" })</h3>
            </div>
            <div class="col-md-4">
                <h4>@Html.ValueFor(model => model.username)</h4>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <h3>@Html.LabelFor(model => model.oldPassword, htmlAttributes: new { @class = "label btn_6 label-warning" })</h3>
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.oldPassword, new { @class = "form-control1" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <h3>@Html.LabelFor(model => model.newPassword, htmlAttributes: new { @class = "label btn_6 label-warning" })</h3>
            </div>
            <div class="col-md-4">
                @Html.PasswordFor(model => model.newPassword, new { @class = "form-control1" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <h3>@Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "label btn_6 label-warning" })</h3>
            </div>
            <div class="col-md-4">
                @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control1" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="app-cam">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu Chỉnh Sửa" class="btn btn-sm btn-warning warning_22" />
                </div>
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <div class="col-md-2">
       <a href="/Admin/Home/Index">Quay lại trang chủ</a>
    </div>
</div>
